.imageBanner {
  max-width: 100vw;
  margin: 3rem auto;

  img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }
}

.post {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: var(--heading);
  }

  .infoContent {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    line-height: 1.25rem;
    color: var(--info);
    letter-spacing: 0.03rem;

    time,
    span.infoAuthor {
      margin-right: 1.5rem;
    }

    span.infoLastEdition {
      display: block;
      margin-top: 1rem;
      font-style: italic;
    }
  }

  .content {
    color: var(--body);
    font-size: 1.125rem;
    line-height: 1.575rem;
    text-align: justify;

    header {
      font-size: 2.25rem;
      line-height: 3.15rem;
      font-weight: 700;
      color: var(--heading);

      margin-bottom: 3rem;
    }

    p,
    ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    a {
      color: var(--highlight);
    }
  }
}

.leavePreview {
  margin: 3rem auto;

  width: 43.75rem;
  height: 3.625rem;

  border-radius: 0.25rem;

  background: var(--heading);

  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: var(--background);
    font-size: 1.125rem;
    font-weight: 600;
  }

  transition: filter 0.2s;

  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
}
